@page
@model NoviFlow_For_NaviStar_Web_Authenication.Pages.Depts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<p>
    <a asp-page="Create">Create New</a>
    <section>
        <label>asp-for=""</label>
    </section>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].DName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].Dhead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].DID)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dhead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
